In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import funcTest as ft
import funcData as fd

In [2]:
path = os.getcwd() + '\\data_train\\'

data1 = pd.read_csv(path+'Nature_wStatsDB_v1.csv');
data2 = pd.read_csv(path+'statsDB_tend3.csv')

## DATASET 1 - cuotas HDA

In [3]:
cuotas = data1[['B365H','B365D','B365A']]
prob_cuotas=1/cuotas
prob_cuotas['res'] = ft.calcRES(data1)
# prob_cuotas.to_csv('F:\\TFG\\datasets\\data_train\\DATA1_ProbCuotas.csv',index=False)

In [4]:
DATA1_ProbCuotas = pd.read_csv('F:\\TFG\\datasets\\data_train\\DATA1_ProbCuotas.csv')

In [5]:
(train_DB,train_X,train_Y,test_X,test_Y) = ft.preprocessDB(DATA1_ProbCuotas)

## DATASET 2 - tendencias 3 pj

In [62]:
def new_db_tendencias(data,res,ns=[5],diferDB=True,localyvisitante=False):
    listaDB = []
    for n in ns:
        newDB = ct.crear_tendencias(data,n=n,localyvisitante=localyvisitante)
        newDB['res'] = res
        if diferDB==True:
            newDB = ct.crear_dif_tend(newDB)
            listaDB.append(newDB)
            newDB.to_csv(f'F:\\TFG\\datasets\\data_train\\DATA3_Dif_Tend{n}.csv',index=False)
        else:
            listaDB.append(newDB)
            newDB.to_csv(f'F:\\TFG\\datasets\\data_train\\DATA2_Tendencias{n}.csv',index=False)
    return listaDB

In [61]:
res = ft.calcRES(data1)

In [69]:
dbs = new_db_tendencias(data1,res,ns=[3,5,10],diferDB=True)
dbs[0]

      dif_puntos  dif_goles  dif_shots  dif_targets  dif_corners  res
0           -3.0      -12.0      -23.0        -14.0          3.0    1
1           -8.0      -10.0      -17.0         -9.0         -6.0    1
2           -1.0        0.0        1.0         -3.0         -3.0   -1
3            0.0       -2.0       -4.0         -2.0         -3.0   -1
4           -7.0       -2.0       -8.0         -4.0          0.0   -1
...          ...        ...        ...          ...          ...  ...
1821         NaN        NaN        NaN          NaN          NaN    0
1822         NaN        NaN        NaN          NaN          NaN    0
1823         NaN        NaN        NaN          NaN          NaN    1
1824         NaN        NaN        NaN          NaN          NaN   -1
1825         NaN        NaN        NaN          NaN          NaN   -1

[1826 rows x 6 columns]

In [66]:
import importlib
importlib.reload(ct)

## DATASET 3 - Eventos

In [4]:
data1

,wyId,competitionId,seasonId,roundId,dateutc,winner,teamId_home,score_home,scoreHT_home,teamId_away,...,AS,HST,AST,HC,AC,HF,AF,B365H,B365D,B365A
0,2576335,524,181248,4406278,2018-05-20 18:45:00,3161,3162,2,2,3161,...,15,4,6,10,4,12,13,2.40,3.50,2.90
1,2576336,524,181248,4406278,2018-05-20 18:45:00,3158,3315,0,0,3158,...,15,3,6,5,9,14,8,4.00,3.80,1.85
2,2576329,524,181248,4406278,2018-05-20 16:00:00,3173,3173,1,0,3172,...,12,4,4,5,11,17,14,3.10,3.60,2.25
3,2576330,524,181248,4406278,2018-05-20 16:00:00,3165,3165,1,0,3219,...,12,5,1,2,4,13,9,1.53,4.50,5.75
4,2576331,524,181248,4406278,2018-05-20 16:00:00,3163,3163,1,1,3166,...,8,5,5,10,2,9,11,1.53,4.33,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2565552,795,181144,4406122,2017-08-19 20:15:00,0,680,1,1,691,...,9,4,6,7,3,14,12,1.62,4.00,5.50
1822,2565551,795,181144,4406122,2017-08-19 18:15:00,0,756,2,2,679,...,9,6,3,6,0,15,15,8.00,4.33,1.45
1823,2565549,795,181144,4406122,2017-08-19 16:15:00,687,692,2,1,687,...,13,5,6,5,4,12,11,2.38,3.25,3.20
1824,2565556,795,181144,4406122,2017-08-18 20:15:00,674,674,1,1,714,...,5,6,4,5,2,25,13,1.75,3.80,4.50
1825,2565557,795,181144,4406122,2017-08-18 18:15:00,712,712,1,1,696,...,6,9,3,4,2,14,18,2.05,3.20,4.10