# TRAINING AND TESTING SET CREATION

In [23]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
path_rawdata    = 'F://TFG//datasets/raw_datasets//'
path_train      = 'F://TFG//datasets//data_train//'
path_graphs     = 'F://TFG//graphs//'
path            = 'F:/TFG/datasets/nature-dataset/'

In [3]:
data = pd.read_csv(path_rawdata+'matches_wUltPartidos.csv',sep=';',index_col='wyId')
data.head(3)

,dateutc,competitionId,seasonId,roundId,winner,teamId_home,score_home,scoreHT_home,teamId_away,score_away,...,passes_acc_11H,passes_acc_11A,keyPasses_H,keyPasses_A,ataque_h,defensa_h,ataque_a,defensa_a,ataquedefensa_H,ataquedefensa_A
wyId,,,,,,,,,,,,,,,,,,,,,
2499738,2018-03-31 14:00:00,364,181150,4405654,1633,1633,3,3,1619,0,...,0.757778,0.782137,5,6,0.76,1.72,0.96,2.24,0.973546,0.817933
2499799,2017-10-21 11:30:00,364,181150,4405654,1610,1610,4,1,1644,2,...,0.851005,0.843464,4,8,0.56,0.84,2.00,1.20,1.316667,0.810784
2499800,2017-10-22 12:30:00,364,181150,4405654,1609,1623,2,1,1609,5,...,0.836437,0.858100,16,7,0.60,1.20,0.48,1.72,0.983333,1.399187

In [4]:
data.columns

Index(['dateutc', 'competitionId', 'seasonId', 'roundId', 'winner',
       'teamId_home', 'score_home', 'scoreHT_home', 'teamId_away',
       'score_away', 'scoreHT_away', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC',
       'HF', 'AF', 'B365H', 'B365D', 'B365A', 'y0_sh_H', 'x0_sh_H',
       'acc_avg_sh_H', 'goal_avg_sh_H', 'y0_sh_A', 'x0_sh_A', 'acc_avg_sh_A',
       'goal_avg_sh_A', 'mins4_H', 'mins4_A', 'shots_11H', 'shots_11A',
       'shots_acc_11H', 'shots_acc_11A', 'goals_H', 'goals_A', 'goals_ratio_H',
       'goals_ratio_A', 'passes_11H', 'passes_11A', 'passes_acc_11H',
       'passes_acc_11A', 'keyPasses_H', 'keyPasses_A', 'ataque_h', 'defensa_h',
       'ataque_a', 'defensa_a', 'ataquedefensa_H', 'ataquedefensa_A'],
      dtype='object')

We only want the data from the last 4 matches as training data.

In [14]:
labels = []

for match in data.itertuples():
    if match.winner == 0: labels.append(0)
    elif match.winner == match.teamId_home: labels.append(1)
    else: labels.append(2)

# data['res'] = target
label_set = pd.DataFrame({'Labels':labels}, index=data.index)
label_set.head(3)

         Labels
wyId
2499738       1
2499799       1
2499800       2

In [6]:
training_features = ['mins4_H', 'mins4_A', 'shots_11H', 'shots_11A',
       'shots_acc_11H', 'shots_acc_11A', 'goals_H', 'goals_A', 'goals_ratio_H',
       'goals_ratio_A', 'passes_11H', 'passes_11A', 'passes_acc_11H',
       'passes_acc_11A', 'keyPasses_H', 'keyPasses_A', 'ataque_h', 'defensa_h',
       'ataque_a', 'defensa_a', 'ataquedefensa_H', 'ataquedefensa_A']

In [45]:
X_df = data[training_features]
# X_df.to_csv(path_train+'training_features_DF.csv',sep=';')
X_df.head(5)

,mins4_H,mins4_A,shots_11H,shots_11A,shots_acc_11H,shots_acc_11A,goals_H,goals_A,goals_ratio_H,goals_ratio_A,...,passes_acc_11H,passes_acc_11A,keyPasses_H,keyPasses_A,ataque_h,defensa_h,ataque_a,defensa_a,ataquedefensa_H,ataquedefensa_A
wyId,,,,,,,,,,,,,,,,,,,,,
2499738,60.818182,56.840909,28,18,0.321429,0.444444,1,3,0.250000,0.500000,...,0.757778,0.782137,5,6,0.76,1.72,0.96,2.24,0.973546,0.817933
2499799,54.500000,72.454545,35,28,0.400000,0.321429,4,5,1.000000,0.625000,...,0.851005,0.843464,4,8,0.56,0.84,2.00,1.20,1.316667,0.810784
2499800,63.295455,72.000000,37,29,0.162162,0.344828,1,1,0.333333,1.000000,...,0.836437,0.858100,16,7,0.60,1.20,0.48,1.72,0.983333,1.399187
2499801,42.000000,54.272727,28,22,0.392857,0.409091,2,4,1.000000,0.571429,...,0.785348,0.842152,8,3,0.36,2.16,1.04,0.32,0.689456,1.360256
2499802,63.659091,51.477273,47,25,0.510638,0.480000,10,4,0.555556,0.666667,...,0.904959,0.763764,15,2,5.48,1.08,1.24,0.64,1.935507,0.921212

In [56]:
y = label_set.to_numpy()
X = data[training_features].dropna().to_numpy()

In [57]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=1
)

In [58]:
X_train

array([[60.63636364, 68.06818182, 26.        , ...,  1.72      ,
         0.98333333,  1.12207207],
       [65.63636364, 70.56818182, 31.        , ...,  2.64      ,
         0.96914894,  0.97380952],
       [66.25      , 51.84090909, 32.        , ...,  1.52      ,
         1.93550725,  1.36025641],
       ...,
       [ 0.        ,  0.        , 44.        , ...,  0.76      ,
         1.82692308,  1.72207207],
       [69.70454545, 50.25      , 32.        , ...,  1.76      ,
         0.88461538,  0.68945578],
       [ 0.        ,  0.        , 19.        , ...,  2.92      ,
         1.10078954,  0.7625    ]])

In [51]:
# np.save(path_train+'X_train', X_train)
# np.save(path_train+'y_train', y_train)
# np.save(path_train+'X_test', X_test)
# np.save(path_train+'y_test', y_test)

In [52]:
# X_train = np.load(path_train+'X_train.npy')